* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.contenue {
	margin: auto;
	width: 80%;
}
main {
	width: 100%;
	display: flex;
	justify-content: space-around;
	height: 800px;
	flex-wrap: wrap;
}
section {
	width: 30%;
	height: 100%;
}
.orange {
	background-color: green;
}
.bleu {
	background-color: aquamarine;
}
.rouge {
	background-color: black;
}

@media only screen and (max-width: 1399px) {
	#contenue {
		widht: 100%;
	}
	section {
		width: 100%;
		height: 200px;
	}
	.bleu {
		background-color: #039f2a;
	}
}
@media only screen and (max-width: 800px) {
	.bleu {
		background-color: #d75dbe;
	}
}
